APP_NAME=TraceRCA AI
APP_VERSION=0.1.0
DEBUG=true

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/tracerca

REDIS_URL=redis://localhost:6379/0

NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=change_me

OTEL_SERVICE_NAME=tracerca-api
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317

LOG_LEVEL=INFO